@model Client1.Models.LoginViewModel

<h1>Login</h1>

<form asp-action="Index">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password" class="control-label"></label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Giriş yap" />
    </div>
</form>