<div
    style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>Access Denied</h1>
    <h2>@ViewBag.url sayfasına erişiminiz yok.</h2>
</div>